@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Domine:wght@400..700&family=Goldman:wght@400;700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Macondo&family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Domine:wght@400..700&family=Goldman:wght@400;700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Macondo&family=Oswald:wght@200..700&display=swap');

/* Headings- font-family: "Goldman", serif;*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    /* Generic styles */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #f7f7f7;
    font-family: "DM Sans", serif;
    color: #535353;
    font-size: 1rem;
}

#logo {
    font-size: 2.6rem;
    font-family: "Goldman", serif;
    padding-top: 0.5rem;
    color: #f7f7f7;
    font-weight: 400;
}


header {
    background-color: #3e5368;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #535353;
    display: flex;
    justify-content: space-between; 
    align-items: baseline;

}

header a {
    text-decoration: none;
    color: inherit;
}

#menu {
    font-size: 120%;
    letter-spacing: 2px;
    list-style-type: none;
    padding-left: 1rem;
}

#menu > li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #f7f7f7;
}

/* Navbar style with dropdown toggle */
nav {
    position: absolute;
    background-color: #3e5368;
    font-weight: 550;
    width: 100%;
    padding: 0;
    box-shadow: 0 2px 2px #3a3a3a;
    left: 0;
    display: none;
    top: 100%;
    color: #f7f7f7;
} 

/* Nav Toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
    padding: 0;
    color: #f7f7f7;
} 

/* Main Section*/

main {
    flex: 1 0 auto;
}

main .img-fluid {
    margin-top: 45px;
}

h2 {
    font-family: "Goldman", serif;
    padding-top: 1rem;
    display: flex;
    justify-content: center;
    letter-spacing: 2px;
    font-weight: 600;
    color: #3e5368;
    border-bottom: 2px solid #3e5368;
}

#stadium-insight,
#why-visit {
    padding: 0 5% 0 5%;
}

/* Tour Page */

#tour-options h1 {
    margin-top: 45px;
}


/* Contact Page */

/*#hero-img {
    background-image: url("../assets/images/croke-park1.jpg");
}*/

/* Footer */


#social-media {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding: 0;
    margin: 20px 0 20px 0; 
}

footer ul {
    list-style-type: none;
    
}

#social-media i {
    color:#535353;
    font-size: 150%;
    padding: 10%;
}

/* Media Queries */

/* Media Query: large or landscape phones (576px and up) */

@media screen and (min-width: 576px){
    body {
        width: fit-content;
    }

    .nav-toggle-label {
        width: fit-content;
    }

    #nav-toggle {
        width: fit-content;
    }

    header .nav-toggle-label {
        width: auto;
    }


    
}

/* Media Query: tablets and larger (768px and up) */

@media screen and (min-width: 768px){
    body {
            width: fit-content;
            
        }
      

    }

/* Larger devices (laptops and desktops, 992px and up) */


@media screen and (min-width: 992px){
    body {
        width: fit-content;
    }

    #welcome-video {
        padding: 0 5% 0 5%;
        
    }

    

}

/* Larger devices for screens 1200px and wider */

@media screen and (min-width: 1200px){
    body {
        width: fit-content;
    }

    #welcome-video {
        padding: 0 5% 0 5%;
    }
    

}