@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Domine:wght@400..700&family=Goldman:wght@400;700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Macondo&family=Oswald:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Domine:wght@400..700&family=Goldman:wght@400;700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Macondo&family=Oswald:wght@200..700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Generic styles */
body {
  min-width: 100vw;
  min-height: 100vh;
  background-color: #d5dcd9;
  display: flex;
  flex-direction: column;
  /* Generic project styles */
  font-family: "DM Sans", serif;
}

h1,
h2,
h3 {
  font-family: "Goldman", serif;
  font-weight: 600;
  color: #647061;
  letter-spacing: 1px;
  font-size: 30px;
}

h4,
h5 {
  font-family: "Goldman", serif;
  color: #647061;
  letter-spacing: 1px;
  padding: 0;
  font-size: 25px;
}

.visit-crokepark h1 {
  font-weight: 600;
  font-size: 30px;
  padding-top: 20px;
  letter-spacing: 1px;
  font-family: "Goldman", serif;
  color: #647061;
}

.croke-park h2 {
  border-bottom: 2px solid #3e5368;
  font-size: 30px;
  margin-top: 15px;
  color: #647061;
  letter-spacing: 2px;
}

.vouchers h2 {
  color: #647061;
}

/*Header*/
header {
  background-color: #647061;
  padding: 0 1rem;
  position: fixed;
  z-index: 99;
  width: 100%;
  box-shadow: 0 2px 2px #3a3a3a;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

#logo {
  font-size: 2.6rem;
  font-family: "Goldman", serif;
  padding-top: 0.5rem;
  color: #d5dcd9;
  font-weight: 400;
}

header a {
  text-decoration: none;
  color: inherit;
}

#menu {
  font-size: 110%;
  letter-spacing: 4px;
  list-style-type: none;
}

#menu > li {
  margin-left: 0;
  margin-bottom: 1em;
  color: #ffffff;
}

.active {
  border-bottom: 1px solid #d5dcd9;
}

/* Navbar style with dropdown toggle */
nav {
  position: absolute;
  background-color: #647061;
  width: 100%;
  padding: 0;
  box-shadow: 0 2px 2px #d5dcd9;
  left: 0;
  display: none;
  top: 100%;
}

nav #menu {
  padding-left: 1rem;
  bottom: 0.5em;
  padding-right: 1rem;
}

/* Nav Toggle */
#nav-toggle:checked ~ nav {
  display: block;
}

#nav-toggle {
  display: none;
}

.nav-toggle-label {
  font-size: 2rem;
  color: #d5dcd9;
  padding-right: 10px;
}

#social-media {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  padding: 5%;
  margin-bottom: 0;
}

#social-media i {
  color: #647061;
  font-size: 1.5rem;
}

main {
  /* Make main element take up any surplus space to push footer down */
  flex: 1 0 auto;
  margin-top: 65px;
}

.img-fluid {
  border-radius: 20px;
  max-width: 500px;
  margin-top: 10px;
  width: 100%;
  background-color: #f7f7f7;
  display: flex;
  border: 2px solid #3e536870;
  display: flex;
  justify-self: center;
}

.croke-park,
.history,
.vouchers {
  margin-top: 10px;
  padding: 0 5px 0 5px;
  text-align: center;
}

.atmosphere h2 {
  color: #647061;
  font-weight: 600;
  letter-spacing: 2px;
  display: flex;
  justify-content: center;
  padding: 10px 0 10px 0;
  border-top: 3px solid #647061;
  border-bottom: 3px solid #647061;
  border-radius: 5px;
}

.atmosphere {
  margin-bottom: 10px;
}

.atmosphere,
.unique {
  padding: 10px 10px 10px 10px;
  margin: 0 5px 5px 5px;
  font-weight: 400;
  color: #000000;
}

.welcome-video iframe {
  margin-top: 30px;
  width: 100%;
  height: 300px;
  display: flex;
  position: relative;
  bottom: 0;
}

.visit-crokepark h2 {
  border: none;
  color: #647061;
}

.visit-crokepark {
  padding: 0 10px 10px 10px;
}

.location-map,
#location h1 {
  color: #647061;
  padding-left: 10px;
}

iframe {
  width: 100%;
  height: 250px;
  border: 0;
  /*display: flex;
  bottom: 0;
  position: relative;*/
}

#tour-options h2 {
  color: #647061;
  font-weight: 200;
  font-size: 25px;
}

#tour-options h1 {
  padding-left: 10px;
}

.row {
  display: flex;
  justify-self: center;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Ensures content is spaced out */
  height: 100%; /* Ensures the card takes full height */
  padding: 10px 5px 10px 5px;
  width: 90%;
  margin: 10px 0px 5px 20px;
  border: none;
}

.card-img-top {
  width: 100%;
}

.card-text {
  font-family: "DM Sans", serif;
  font-size: 16px;
}

#enquire a {
  background-color: #647061;
  color: #ffffff;
  font-weight: 500;
  border-radius: 10px;
  padding: 5px 10px;
  text-decoration: none;
  display: flex;
  justify-self: center;
  font-size: 15px;
  letter-spacing: 1px;
  margin: 40px 0 40px 0;
}

.vouchers {
  margin-bottom: 20px;
}

.vouchers a {
  text-decoration: none;
  background-color: #647061;
  color: #ffffff;
  font-weight: 500;
  padding: 5px;
  border-radius: 10px;
}

.location-map {
  padding-left: 0;
}

main {
  flex: 1 0 auto;
  margin-top: 65px;
  display: flex;
  flex-direction: column;
}

#hero-img {
  background-image: url("../images/croke-parkariel.webp");
  background-color: #ffffff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  padding: 0 10% 0 10%;
  flex-grow: 1;
}

.contact-form h2 {
  padding-top: 0;
  padding-bottom: 10px;
  color: #ffffff;
  font-weight: 500;
}

.contact-form {
  color: #d5dcd9;
  background-color: rgba(24, 44, 50, 0.6);
  padding: 30px;
  display: flex;
  margin-top: 30%;
  margin-bottom: 40%;
  justify-self: center;
  font-weight: 600;
  flex-direction: column;
}

.contact-form label {
  color: #ffffff;
}

.submit {
  margin: 20px 20px 20px 0px;
  width: 100px;
  padding: 5px 10px;
  background-color: #647061;
  font-weight: 500;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 1px;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
}

.submit-ack {
    padding-left: 20px;
    padding-top: 20px;
}

textarea {
  resize: vertical;
  width: 100%;
  height: 100px;
}

/* Media Query: large or landscape phones (576px and up) */
@media screen and (min-width: 576px) {
  header {
    height: 4rem;
  }

  nav {
    display: block;
    position: relative;
    top: 0.5em;
    box-shadow: none;
    width: fit-content;
    padding-right: 1rem;
    height: 5px;
  }

  .nav-toggle-label {
    display: none;
  }

  .row {
    display: flex;
    justify-self: center;
    position: relative;
  }

  #menu {
    display: flex;
  }

  #menu > li {
    padding-left: 1rem;
    font-size: 90%;
  }

  nav #menu {
    padding-left: 1rem;
    display: flex;
    position: relative;
    bottom: 0.5em;
    padding-right: 1rem;
  }

  #logo {
    padding-top: 0.5rem;
    font-size: 2.5em;
    font-weight: 500;
  }

  .croke-park {
    margin-top: 0;
  }

  .img-fluid {
    border-radius: 20px;
    margin-top: 10px;
    width: 100%;
    background-color: #f7f7f7;
    display: flex;
    border: 2px solid #3e536870;
    display: flex;
    justify-self: center;
  }

  #social-media {
    padding-bottom: 25px;
    padding-top: 25px;
  }

  .card {
    width: 45%;
    display: flex;
    margin: 15px 20px 10px 10px;
    padding: 20px;
    border: 3px solid #3a3a3a70;
    height: 825px;
  }

  .contact-form {
    padding: 60px;
    margin-top: 15%;
    margin-bottom: 15%;
    display: flex;
    flex-direction: column;
    justify-self: center;
  }

  textarea {
    width: 100%;
  }
}

/* Media Query: tablets and larger (768px and up) */

@media screen and (min-width: 768px) {
  /* Header */

  header {
    margin: 0;
  }

  nav {
    display: block;
    position: relative;
    top: 0;
    box-shadow: none;
    width: fit-content;
    padding-right: 1rem;
    height: 5px;
  }

  #menu {
    display: flex;
  }


  #menu > li {
    padding-left: 1rem;
    font-size: 15px;
  }

  .nav-toggle-label {
    display: none;
  }

  #logo {
    font-size: 2.5em;
    padding-top: 0.5rem;
  }

  .croke-park {
    margin-top: 0;
  }

  .img-fluid {
    border-radius: 20px;
    margin-top: 10px;
    width: 100%;
    background-color: #f7f7f7;
    display: flex;
    border: 2px solid #3e536870;
    display: flex;
    justify-self: center;
  }

  #social-media {
    padding-bottom: 25px;
    padding-top: 25px;
  }

  .card {
    width: 45%;
    display: flex;
    margin: 15px 15px 15px 21px;
    padding: 20px;
    border: 3px solid #3a3a3a70;
    height: 825px;
  }

  .row {
    display: flex;
    justify-self: center;
    position: relative;
  }

  .contact-form {
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-self: center;
    margin-top: 15%;
    margin-bottom: 15%;
  }

  #first-name,
  #last-name,
  #email-address {
    width: 250px;
  }

  textarea {
    width: 100%;
  }
}

/* Larger devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {
  nav {
    display: block;
    position: relative;
    top: 0;
    box-shadow: none;
    width: fit-content;
    padding-right: 1rem;
    height: 5px;
  }

  #menu {
    display: flex;
  }

  #menu > li {
    padding-left: 1rem;
  }

  #logo {
    font-size: 280%;
  }

  .croke-park {
    margin-top: 0;
  }

  .nav-toggle-label {
    display: none;
  }

  .img-fluid {
    display: flex;
    position: relative;
    border-radius: 25px;
  }

  #social-media {
    padding-bottom: 25px;
    padding-top: 25px;
  }

  .card {
    width: 45%;
    display: flex;
    margin: 15px 15px 15px 30px;
    padding: 20px;
    border: 3px solid #3a3a3a70;
    height: 725px;
  }

  .row {
    display: flex;
    justify-self: center;
    position: relative;
  }

  .contact-form {
    padding: 60px;
    margin-top: 15%;
    display: flex;
    flex-direction: column;
    justify-self: center;
    margin-bottom: 15%;
  }

  #first-name,
  #last-name,
  #email-address {
    width: 250px;
  }

  textarea {
    width: 100%;
    height: 150px;
  }

  .contact-form h2 {
    font-size: 40px;
    text-align: center;
  }
}

/* Larger devices for screens 1200px and wider */
@media screen and (min-width: 1200px) {
  nav {
    display: block;
    position: relative;
    top: 0;
    box-shadow: none;
    width: fit-content;
    padding-right: 1rem;
    height: 5px;
  }

  #menu {
    display: flex;
  }

  #menu > li {
    padding-left: 1rem;
  }

  #logo {
    font-size: 280%;
  }

  .croke-park {
    margin-top: 0;
  }

  .img-fluid {
    display: flex;
    position: relative;
    border-radius: 25px;
  }

  .nav-toggle-label {
    display: none;
  }

  #social-media {
    padding-bottom: 25px;
    padding-top: 25px;
  }

  .row {
    display: flex;
    justify-self: center;
    position: relative;
  }

  .tour {
    height: 100%;
  }

  .gift {
    height: 100%;
  }

  .card {
    width: 20%;
    display: flex;
    margin: 15px 20px 15px 42px;
    padding: 20px;
    border: 3px solid #3a3a3a70;
    height: 857px;
  }

  .contact-form {
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-self: center;
  }

  textarea {
    width: 100%;
  }
}
